environment/.venv/
__pycache__/
tests/colab/__pycache__/*
.env
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
test/*
!test/README.md
tests/colab/__pycache__/test_ollama_cloud_manager.cpython-311-pytest-8.4.2.pyc
