fastapi
uvicorn[standard]
langchain
langchain-community
langchain-core
langchain-postgres
langchain-huggingface
langchain-ollama
langchain-google-genai
sentence-transformers
python-dotenv
requests
psycopg[binary]
psycopg2-binary